:root {
  --primary: rgba(5, 188, 185, 1);
  --secondary: rgba(22, 114, 135, 1);
  --font-primary: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

