:root {
  --primary: rgba(5, 188, 185, 1);
  --secondary: rgba(22, 114, 135, 1);
  --font-color: rgba(1, 14, 17, 1);
  --font-primary: "Open Sans", sans-serif;
}
#root{
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

.h1 {
  font-size: 48px;
  font-weight: 600;
  color: var(--font-color)
}

.container-app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 100vw;
  min-height: 100vh;
}

.homepage-container {
  min-height: 100vh;
  min-width: 1440px;
}

.log-in-container {
  padding-left: 120px;
  padding-top: 120px;
}

.form-log-in {
  margin-top: 130px;
}

.form-log-in input {
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
}

.form-log-in input::placeholder {
  color: rgba(185, 193, 194, 1);
}

.form-log-in .form-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.btn-log-in {
  width: 100%;
  height: 54px;
  top: 611px;
  left: 120px;
  padding: 16px, 12px, 16px, 12px;
  border-radius: 6px;
  gap: 10px;
  background-color: rgba(222, 224, 224, 1);
  border: none;

  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(249, 249, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.image-log-in {
  background-image: url('./assets/images/amico.png');
  background-repeat: no-repeat;
  background-position: 100px 274px;
}

.navbar-container {
  height: 100vh;
  width: 372px;
  overflow: hidden;
  background-color: var(--secondary);
  background-image: url('./assets/images/illustrations.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 132px;
  padding-bottom: 80px;
}

.list-navbar {
  list-style-type: none;
}

.link-navbar {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.navbar-container ul {
  padding-left: 0;
}

.list-navbar li {
  height: 65px;
  line-height: 65px;
  width: 230px;
  padding-left: 80px;
  margin-top: 8px;
}
.selected-link{
  background-color: var(--primary);
  border-radius: 0px 32.5px 32.5px 0px;
}
.btn-logout{
  border: none;
  background-color: transparent;
  text-align: start;
  margin-left: 80px;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.card-coin{
  width: 285px;
  height: 129px;
  background: rgba(245, 246, 246, 1);
  border: 2px solid rgba(222, 224, 224, 1)
}
